.carousel-img-wrapper {
    width: 75%;
}

.carousel-img-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 992px) {
    .carousel-img-wrapper {
        width: 50%;
    }
}

.carousel-caption-custom {
    color: #333;
}

::ng-deep ngb-carousel .carousel-caption {
    display: none;
}

::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
    filter: invert(0.5);
}