<nav class="navbar navbar-expand-lg bg-warning-subtle shadow-sm navbar-center-mobile px-lg-5 px-3 py-3">
    <a class="navbar-brand fw-bold fs-4 hover-scale text-dark" (click)="setActive(-1)" routerLink="/">
        Читалище <span class="fst-italic text-muted">"Просвета - 1928"</span>
    </a>

    <button class="navbar-toggler border-0 shadow-sm" type="button" (click)="isMenuOpen = !isMenuOpen">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" [class.show]="isMenuOpen">
        <div class="d-flex flex-column flex-lg-row gap-2 mt-3 mt-lg-0">

            <button class="btn fw-semibold px-4 py-2 rounded-pill hover-scale transition" [ngClass]="activeIndex === 0 
          ? 'btn-warning text-dark shadow-sm' 
          : 'btn-light bg-transparent border-0 text-dark'" routerLink="/Library" (click)="setActive(0)">
                Читалище
            </button>

            <button class="btn fw-semibold px-4 py-2 rounded-pill hover-scale transition" [ngClass]="activeIndex === 1 
          ? 'btn-warning text-dark shadow-sm' 
          : 'btn-light bg-transparent border-0 text-dark'" routerLink="/Bibliotheca" (click)="setActive(1)">
                Библиотека
            </button>

            <button class="btn fw-semibold px-4 py-2 rounded-pill hover-scale transition" [ngClass]="activeIndex === 2 
          ? 'btn-warning text-dark shadow-sm' 
          : 'btn-light bg-transparent border-0 text-dark'" routerLink="/Contact" (click)="setActive(2)">
                Контакти
            </button>

        </div>
    </div>
</nav>